@import url("https://use.typekit.net/owj2edf.css");

@import url("reset.css");
@import url("variables.css");

/* Components */
@import url("components/status-bar.css");
@import url("components/nav-bar.css");

/* Screens */
@import url("screen/login.css");

/* common */
* {
  box-sizing: border-box;
}
body {
  font-family: "neue-haas-grotesk-display", Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial, sans-serif;
  letter-spacing: 0.04em;
}
a {
  color: inherit;
  text-decoration: none;
}
main {
  margin-top: 1.825rem;
  padding-bottom: 3.5625rem;
}
.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
}
