@import url("reset.css");
@import url("variables.css");

/* Components */
@import url("components/status-bar.css");
@import url("components/nav-bar.css");
@import url("components/screen-header.css");
@import url("components/user-component.css");

/* Screens */
@import url("screen/login.css");
@import url("screen/friends.css");

/* common */
* {
  box-sizing: border-box;
}
body {
  font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial, sans-serif;
  letter-spacing: 0.04em;
}
a {
  color: inherit;
  text-decoration: none;
}
main {
  margin-bottom: var(--nav-height);
}
.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
