.nav {
  background-color: #f9f9fa;
  padding: 1.25rem 0;
  margin: 0;
  border-top: 1px solid rgba(200, 200, 200, 0.2);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.nav__link {
  color: #000;
}
.nav__btn {
  position: relative;
}
.nav__notification {
  display: flex;
  position: absolute;
  top: -0.3rem;
  right: -0.3rem;
  border-radius: 50%;
  background-color: var(--red);
}
.nav__notification--number {
  justify-content: center;
  align-items: center;
  font-family: var(--system-font);
  font-size: 0.5rem;
  width: 0.9rem;
  height: 0.9rem;
  color: #fff;
}
.nav__notification--new {
  width: 0.2rem;
  height: 0.2rem;
}
