.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem var(--side-space);
  width: 100%;
}
.body__mobile-pages__chat .screen-header {
  position: absolute;
  z-index: 2;
  top: var(--status-height);
  background-color: rgba(170, 193, 208, 0.2);
  backdrop-filter: blur(2px);
}
.screen-header__title {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: -0.1px;
}
.screen-header__icons {
  display: flex;
  gap: 1rem;
}
