.status-bar {
  font-family: var(--system-font);
  display: flex;
  justify-content: center;
  padding: 5px 0;
  font-size: 0.85rem;
  letter-spacing: -0.05px;
}
.body__mobile-pages__chat .status-bar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  background-color: rgba(170, 193, 208, 0.2);
  backdrop-filter: blur(2px);
}
.status-bar__column {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 33.3333%;
  margin-left: 5px;
}
.status-bar__column:nth-child(2) {
  justify-content: center;
}
.status-bar__column:last-child {
  justify-content: flex-end;
  margin-right: 5px;
}
.status-bar__wifi--text {
  margin-right: 0.3rem;
}
.status-bar__time--text {
  font-weight: bold;
}
.status-bar__rotate--overwrap {
  position: relative;
  width: 1rem;
  height: 1rem;
  margin-right: 5px;
}
.status-bar__rotate--overwrap i {
  position: absolute;
  left: 0;
  top: 0;
}
.status-bar__rotate--overwrap .fa-lock {
  transform: scale(0.4) translateX(2px);
}
.status-bar__battery--text {
  margin-right: 5px;
}
.status-bar .fa-battery-half {
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.2rem;
  margin-right: 5px;
}
.screen-header .fa-gear:hover {
  animation: rotate-gear 3s linear infinite;
}
@keyframes rotate-gear {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}
